---
const { buttonText } = Astro.props;
---

<button>klik her</button>

<style>
  button {
    width: 150px;
    height: 45px;
    border: 3px solid var(--tertiary-color);
    box-shadow: 0 0 10px var(--tertiary-color);
    text-transform: uppercase;
  }

  button:hover {
    text-decoration: underline;
    border: 3px solid var(--tertiary-shade-color);
    box-shadow: 0 0 10px var(--tertiary-shade-color);
  }
</style>
