:root {
    --primary-color: #212121;
    --secondary-color: #E55DF5;
    --secondary-shade-color: #8C1692;
    --tertiary-color: #3ED0FF;
    --tertiary-shade-color: #0076A7;

    --text-color: #ffffff;
    --text-shade-color: #EDEDED;

    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--text-color);
}

main {
    max-width: 1200px;
    margin: auto;
}

/* Show on pc only */
.pc-only {
    display: none;
}

/* Styling text */
h1, h2, h3, h4, a {
    text-transform: uppercase;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: var(--spacing-small);
}

a {
    margin-bottom: var(--spacing-small);
}

/* General styling with flex and grid */
.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.gap-s {
    gap: var(--spacing-small);
}

.gap-m {
    gap: var(--spacing-medium);
}

.gap-l {
    gap: var(--spacing-large);
}

/* General classnames for spacing */
.mb-s {
    margin-bottom: var(--spacing-small);
}

.mb-m {
    margin-bottom: var(--spacing-medium);
}

.mb-l {
    margin-bottom: var(--spacing-large);
}

/* General styling for buttons */
button {
    cursor: pointer;
}

/* Styling icons and their hover effect */
.icon-style {
    fill: var(--secondary-color);
    transition: 0.2s ease-in-out;
}

.icon-style:hover {
    fill: var(--secondary-shade-color);
}

/* Styling the logo and it's hover effect */
.logo-style {
    stroke: var(--secondary-color);
    transition: 0.2s ease-in-out;
}

.logo-style:hover {
    stroke: var(--secondary-shade-color);
}

/* Styling tiltet signup button for newsletter signup */
.signup-button path {
    stroke: var(--tertiary-color);
    transition: 0.2s ease-in-out;
}

.tiltet-button {
    border: none;
    padding: none;
    position: absolute;
    left: 163px;
    top: 1px;
    z-index: 1;

    & span {
      position: absolute;
      left: 57px;
      top: 12px;
    }
  }

.tiltet-button:hover {
    & .signup-button{
        & path {
            stroke: var(--tertiary-shade-color);
        }
    }

    & span {
        text-decoration: underline;
    }
}

/* Styling the form and indput connected to the signup to newsletter form */
form {
    position: relative;
  }

  .newsletter-input {
    width: 350px;
    padding: 12px;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    position: relative;
    z-index: 0;
  }

  .newsletter-input:focus-visible {
    outline: 0;
  }