---
import MainLayout from "../layouts/Main-layout.astro";
import Footer from "../components/Footer.astro";
import Ticketbanner from "../components/Ticketbanner.astro";
import Artists_loop from "../components/Artists_loop.astro";
const { title, className } = Astro.props;
const data = await fetch("https://fmhjnrarhnsjaffenfhg.supabase.co/rest/v1/karrusel_redesign", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtaGpucmFyaG5zamFmZmVuZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MTIyNDEsImV4cCI6MjAyNTk4ODI0MX0.pWJ54xSfP_rmLrSXXLnJ-dmpaAK1IgomGXE6UgCDcfU",
  },
}).then((res) => res.json());
console.log(data);
---

<!-- https://fmhjnrarhnsjaffenfhg.supabase.co --><!-- eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtaGpucmFyaG5zamFmZmVuZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MTIyNDEsImV4cCI6MjAyNTk4ODI0MX0.pWJ54xSfP_rmLrSXXLnJ-dmpaAK1IgomGXE6UgCDcfU -->
<MainLayout title="ABOUT KARRUSEL">
  <main>
    <h1>ABOUT KARRUSEL</h1>
    <div class="about-hero"></div>
    <section class="artist">
      {
        data.map((show) => {
          return <Artists_loop data={show} />;
        })
      }
    </section>

    <div class="artikler" <article>
      <h3>THE EXPERIENCE</h3>
    </div>

    <hr />
    <Ticketbanner />
  </main>
  <Footer />
</MainLayout>

https://fmhjnrarhnsjaffenfhg.supabase.co/rest/v1/karrusel_redesign eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtaGpucmFyaG5zamFmZmVuZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MTIyNDEsImV4cCI6MjAyNTk4ODI0MX0.pWJ54xSfP_rmLrSXXLnJ-dmpaAK1IgomGXE6UgCDcfU

<style>
  .about-hero {
    display: flex;
    justify-content: center; /* Center the background image horizontally */
    align-items: center; /* Center the background image vertically */
    height: 300px; /* Set a default height for the hero section */
    background-image: url("../public/artister/haai_about_hero.png");
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
  }

  @media (min-width: 768px) {
    .about-hero {
      height: 400px; /* Adjust height for larger screens */
    }
  }
  .uneven-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
    column-gap: var(--spacing-xlarge);
    row-gap: 2px;
    margin-bottom: var(--spacing-large);
  }

  h2 {
    margin-bottom: 0;
  }

  hr {
    height: 1px;
    width: 100%;
  }
</style>
