---
import MainLayout from "../layouts/Main-layout.astro";
import NavigationMenu from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Ticketbanner from "../components/Ticketbanner.astro";
import "../components/Navigation.astro";
import FacebookIcon from "../components/icons/Facebook-icon.astro";
import InstagramIcon from "../components/icons/Instagram-icon.astro";
import SoundcloudIcon from "../components/icons/Soundcloud-icon.astro";
const { title, className } = Astro.props;
// import Artists_loop from "../components/Artists_loop.astro";

// const data = await fetch("https://fmhjnrarhnsjaffenfhg.supabase.co/rest/v1/karrusel_redesign", {
//   method: "GET",
//   headers: {
//     apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtaGpucmFyaG5zamFmZmVuZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MTIyNDEsImV4cCI6MjAyNTk4ODI0MX0.pWJ54xSfP_rmLrSXXLnJ-dmpaAK1IgomGXE6UgCDcfU",
//   },
// }).then((res) => res.json());
// console.log(data);
---

<!-- https://fmhjnrarhnsjaffenfhg.supabase.co --><!-- eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtaGpucmFyaG5zamFmZmVuZmhnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0MTIyNDEsImV4cCI6MjAyNTk4ODI0MX0.pWJ54xSfP_rmLrSXXLnJ-dmpaAK1IgomGXE6UgCDcfU -->
<MainLayout title="ABOUT KARRUSEL">
  <NavigationMenu />
  <main>
    <h1>ABOUT KARRUSEL</h1>
    <div class="about-hero"></div>
    <!-- <section class="artist">
      {
        data.map((show) => {
          return <Artists_loop data={show} />;
        })
      }
    </section> -->
    <div class="aboutwrapper">
      <div class="aboutcontainer1">
        <div class="artikler">
          <article>
            <h2>THE EXPERIENCE</h2>
            <p>Karrusel believes in the right to a harassment-free festival experience. We believe in the right of everyone to express themselves. Karrusel welcomes everybody – all with their different orientations, experiences, histories and backgrounds. Karrusel only exists if everyone takes care of each other, respects their own and others boundaries, embraces diversity and acts as a part of the community.</p>
            <p>If you feel unsafe, please reach out to our awareness team. They will be wearing a pink vests and walk around the site and be at their base (see on this map).</p>
            <p>Ask any festival staff and they will guide you to the them.</p>
            <p>Take responsibility for your own actions.</p>
            <p>Respect your own and others boundaries.</p>
            <p>Speak up rather than look the other way.</p>
          </article>
        </div>

        <div class="artikler">
          <article>
            <h2>THE HISTORY</h2>
            <p>2024 marks the 5th edition of Karrusel. Karrusel is a circus themed rave presenting some of the world's leading electronic artists.</p>
            <p>Past editions include performances by Acid Pauli, Amelie Lens, Dixon, FJAAK, Folamour, Hunee, Job Jobse, Kölsch, Mall Grab, Nastia, Partiboi69, Peggy Gou, Richie Hawtin, Skin On Skin, The Blessed Madonna, Victor Ruiz and VTSS.</p>
            <p>The festival is open air and takes place on secluded green spot at the abandoned shipyard of Refshaleøen in central Copenhagen.</p>
          </article>
        </div>
      </div>
      <div class="aboutcontainer2">
        <div class="artikler">
          <article>
            <h2>SUSTAINABILITY</h2>
            <p>Karrusel is committed to becoming more sustainable. In order to save resources and reduce waste we use left over materials and timber for stage designs and installations.</p>
            <p>We will re-use production and print materials when possible year after year. Beverages are served in reusable or sustainable materials. Straws are not being used.</p>
            <p>How you can help: Take a bike or public transport to the festival. Don’t bring confetti or glitter to the festival.</p>
            <p>There will be free tap water stations during the festival. Please bring an empty cup or bottle and drink nice free tap water.</p>
          </article>
        </div>

        <div class="artikler">
          <article>
            <h2>CONTACT & LOCATION</h2>
            <p>Location: Refshalevej 193, 1432 Copenhagen.<br />Karrusel is organized by Nus Nus</p>
            <p>Contact us on email: info@nusnus.dk</p>
            <p>Follow us on social media:</p>
            <div class="about_SoMe">
              <a href="https://www.facebook.com/Karruselfestival" target="_blank" rel="noopener noreferrer">
                <FacebookIcon />
              </a>
              <a href="https://www.instagram.com/karruselfest" target="_blank" rel="noopener noreferrer">
                <InstagramIcon />
              </a>
              <a href="https://on.soundcloud.com/pZ4aZX9xPWEj54818" target="_blank" rel="noopener noreferrer">
                <SoundcloudIcon />
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <section class="aboutgallery">
      <h2>IMAGE GALLERY</h2>
      <div class="image-grid">
        <a href="https://www.karrusel.dk/#/gallery-2023/"><img src="../artister/aboutFJAAKwide.jpg" alt="Wide Image 1" /></a>
        <a href="https://www.karrusel.dk/#/gallery-2022/"><img src="../artister/about_Mantas-Hesthaven_wide.jpeg" alt="Wide Image 2" /></a>
        <a href="https://www.karrusel.dk/#/gallery-2023/"><img src="../artister/aboutElena+Perota_tall.jpeg" alt="Tall Image 1" /></a>
        <a href="https://www.karrusel.dk/#/gallery-2022/"><img src="../artister/aboutPaula+Hincenberga_tall.jpeg" alt="Tall Image 2" /></a>

        <a href="https://www.karrusel.dk/#/gallery-2021/"><img src="../artister/about_Gabriel+Miranda_tall.jpeg" alt="Tall Image 3" /></a>
        <a href="https://www.karrusel.dk/#/gallery-2021/"><img src="../artister/about40_Mantas-Hesthaven_wide.jpeg" alt="Wide Image 3" /></a>
      </div>
    </section>
    <h2>VIDEOS</h2>
    <section class="about_videos">
      <div class="video-container">
        <video controls>
          <source src="../videos/Karrusel 2023 | Aftermovie.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      <div class="video-container">
        <video controls>
          <source src="../videos/Karrusel 2022 | Aftermovie.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </section>
  </main>
  <hr />
  <Ticketbanner />
  <Footer />
</MainLayout>

<style>
  .about-hero {
    display: flex;
    justify-content: center; /* Center the background image horizontally */
    align-items: center; /* Center the background image vertically */
    height: 300px; /* Set a default height for the hero section */
    background-image: url("../artister/haai_about_hero.png");
    background-size: cover; /* Cover the entire area */
    background-position: center; /* Center the background image */
  }

  @media (min-width: 768px) {
    .about-hero {
      height: 600px; /* Adjust height for larger screens */
    }
  }

  h2 {
    margin-bottom: 0;
  }

  hr {
    height: 1px;
    width: 100%;
    color: white;
  }
  .aboutcontainer1,
  .aboutcontainer2 {
    display: flex;
    flex-direction: column;
    gap: 110px;
  }
  .aboutcontainer2 {
    margin-top: 40px;
  }
  article {
    width: 100%;
  }
  .artikler {
    width: 100%;
    border: 0.5px solid white; /* Add white border around articles */
    padding: 20px; /* Add padding to articles */
  }
  .aboutwrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    margin-bottom: 40px;
  }
  .aboutgallery {
    margin-top: 140px;
  }

  @media (max-width: 767px) {
    .aboutwrapper {
      grid-template-columns: 1fr;
    }
    /* For screens smaller than 768px (mobile), display articles in a single column */
    .artikler {
      width: 100%; /* Ensure articles take full width */
      box-sizing: border-box; /* Include padding and border in the width calculation */
    }
  }

  @media (min-width: 768px) {
    /* For screens 768px and larger (desktop), display articles in two columns */
    .artikler {
      margin-right: 20px; /* Add right margin for spacing between columns */
      float: left; /* Float articles to left for two-column layout */
    }
  }
  .about_SoMe {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about_SoMe a {
    margin: 0 12px; /* Adjust the margin to add more space between icons */
  }
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Adjust the gap between images */
  }

  .image-grid a {
    display: block;
    overflow: hidden;
    position: relative;
  }

  .image-grid img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }

  .image-grid a:nth-child(1),
  .image-grid a:nth-child(2) {
    grid-row: span 2; /* Make the first two images span two rows */
  }

  .image-grid a:nth-child(n + 3) {
    grid-row: span 4; /* Make the next images span four rows */
  }

  .image-grid a:hover img {
    transform: scale(1.05); /* Increase image size on hover */
  }

  .about_videos {
    display: flex;
    flex-wrap: wrap;
  }

  .video-container {
    flex: 1;
    margin-right: 10px; /* Adjust spacing between videos */
  }

  .video-container:last-child {
    margin-right: 0; /* Remove right margin for the last video container */
  }

  .video-container video {
    width: 100%;
  }

  @media (max-width: 767px) {
    .video-container {
      flex-basis: 100%; /* Reset the width to full width for mobile */
      margin-right: 0; /* Reset margin */
      margin-bottom: 20px; /* Add spacing between videos on mobile */
    }
  }
</style>
