---
import MainLayout from "../layouts/Main-layout.astro";
import FacebookIcon from "../components/icons/Facebook-icon.astro";
import SoundcloudIcon from "../components/icons/Soundcloud-icon.astro";
import InstagramIcon from "../components/icons/Instagram-icon.astro";
import SpotifyIcon from "../components/icons/Spotify-icon.astro";
import Ticketbanner from "../components/Ticketbanner.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<MainLayout title="SEE YOU AT KARRUSEL FESTIVAL">
  <div class="artist-hero-image flex-row flex-center">
    <h1>Acid Pauli</h1>
  </div>

  <main>
    <a class="flex-row gap-s" href="/program">
      <img src="../../public/icons/back-btn.svg" alt="Go-back arrow" />
      Back to artists
    </a>

    <div class="flex-col gap-l pc-flex-row mt-l">
      <div class="artist-info-left flex-col pc-flex-1">
        <h3>When?</h3>
        <p>Thursday, August 22th, 20:oo o' clock</p>

        <h3>Where?</h3>
        <p>Tribunen</p>

        <h3>Wanna hear more?</h3>
        <div class="icon-images flex-row flex-align-center gap-m">
          <a href=""><InstagramIcon /></a>
          <a href=""><SoundcloudIcon /></a>
          <a href=""><FacebookIcon /></a>
          <a href=""><SpotifyIcon /></a>
        </div>
      </div>

      <div class="flex-col pc-flex-2">
        <h3>Who is Acid Pauli?</h3>
        <h4 class="mb-s">
          Acid Pauli aka Martin Gretschmann. Over the last 20 years Martin
          Gretschmann has been exploring new fields of music off the mainstream
          paths: psychedelic, adventurous and full of musicality.
        </h4>
        <p>
          Acid Pauli is Martin Gretschmann’s club-oriented live set. It has
          morphed over the years into an advanced DJ performance, incorporating
          not only techno and house but a wide variety of music across genres
          beyond dance music. As a versatile musician, Martin is equally
          comfortable performing at Techno Clubs in New York or Ibiza as he is
          producing radio plays and writing film music.
        </p>
        <p>
          Born in the 70s in the Bavarian region of Germany, Martin Gretschmann
          started to play bass guitar in a punk/indie band in the late Eighties,
          whilst at the same time becoming interested in the evolution of
          electronic music and its instruments.
        </p>
      </div>
    </div>
  </main>
  <Ticketbanner />

  <Footer />
</MainLayout>

<style>
  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .artist-hero-image {
    background-image: url("../../public/artister/acidpauli.jpeg");
    height: 250px;
    background-size: cover;
    background-position: center;

    & h1 {
      background-color: transparent;
    }
  }

  .artist-info-left {
    & p,
    .icon-images {
      padding: var(--spacing-small);
    }
  }

  @media (min-width: 768px) {
    .artist-hero-image {
      height: 400px;
    }
  }
</style>
