---
import MainLayout from "../layouts/Main-layout.astro";
import OutlinedButton from "../components/Outlined-button.astro";
import FilledButton from "../components/Filled-button.astro";
import Footer from "../components/Footer.astro";
import Logo from "../components/icons/Logo.astro";
const { title } = Astro.props;
---

<MainLayout title="Side til at se vores komponenter">
  <p>Her kan vi indsætte vores komponenter hvis vi ønsker at se dem</p>
  <FilledButton />
  <OutlinedButton />

  <Footer />

  <Logo />
</MainLayout>

<style>
  * {
    margin: 25px;
  }
</style>
