---
import MainLayout from "../layouts/Main-layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Ticketbanner from "../components/Ticketbanner.astro";
---

<MainLayout>
  <Navigation />

  <main>
    <h1>Practical info</h1>
  </main>

  <Ticketbanner />

  <Footer />
</MainLayout>
