---
import MainLayout from "../layouts/Main-layout.astro";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Ticketbanner from "../components/Ticketbanner.astro";
import FaqRow from "../components/Faq-row.astro";
import Line from "../components/Line.astro";
const { title } = Astro.props;
---



<MainLayout>
  <Navigation />

  <main>
    <h1>Practical info</h1>
    <section class="faq_wrapper">
        <h2>IMPORTANT INFO</h2>
        <Line />
        <FaqRow topic="What is the age limit?" text="18 years old" statusOpen={true}/>
        <Line />
        <FaqRow topic="Can I upgrade my ticket?" statusClosed={true}/>
        <Line />
        <FaqRow topic="Is there a ticket fee on top?" statusClosed={true}/>
        <Line />
        <FaqRow topic="How do I exchange my PDF ticket for a wrist band?" statusClosed={true}/>
        <Line />
    </section>
  </main>

  <Ticketbanner />

  <Footer />
</MainLayout>
