---
import MainLayout from "../layouts/Main-layout.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<MainLayout title="PROGRAM">
  <main>
    <h1>Program 2024</h1>

    <Footer />
  </main>
</MainLayout>
