---
import MainLayout from "../layouts/Main-layout.astro";
import Footer from "../components/Footer.astro";
import TicketCard from "../components/Ticket-card.astro";
const { title } = Astro.props;
---

<MainLayout title="Tickets">
    <main class="tickets_wrapper">
        <h1>FULL FESTIVAL PASS</h1>
        <h4>COPENHAGEN</h4>
        <TicketCard />

    </main>
</MainLayout>

