---
import "../styles/general.css";
import "../styles/style.css";
import "../styles/pc-style.css";

---

<div class="sidebar" id="minSidebar">
    <a href="javascript:void(0)" class="closebtn" id="closebtn_id">&times;</a>
    <a href="tickets" class="sidebar_button">Tickets</a>
    <a href="program" class="sidebar_button">Program</a>
    <a href="practical-info" class="sidebar_button">Practical Info</a>
    <a href="about-karrusel" class="sidebar_button">About</a>
</div>

<header>
    <nav>
        <div class="logo_link">
            <a href="index">
              <div class="logo_wrapper">
                <img src="../icons/karrusel-logo.svg" alt="Karrusel Festival logo" class="nav_icon">
                <div class="logo_text">
                  <p>22 - 24 AUGUST 2024</p>
                  <p>COPENHAGEN, DK</p>
                </div>
              </div>
            </a>
        </div>

        <span class="burger_button"  >
            <img src="../public/icons/burger-menu-ikon.svg" alt="burger menu ikon" class="nav_burger" id="burger_knap">
          </span>

    </nav>
</header>

<style>
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  width: 100%;
  margin: auto;

}

  .nav_links {
    display: none;
  }

.sidebar {
  height: 100vh;
  max-height: 1080px;
  width: 0;
  position: fixed;
  z-index: 12;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  overflow-x: hidden;
  transition: 0.5s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.logo_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo_link img {
  display: block;
}

.logo_link a{
  width: 100%;
  height: auto;
  text-decoration: none;
}

.logo_text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.logo_text p{
  margin: 0;
  font-size: 0.8rem;
}

  .sidebar.open {
    width: 100vw;
  }

  .open {
    width: 100vw;
  }

  .sidebar a {
    font-family: 'Andale Mono Regular';
    font-size: var(--spacing-xlarge);
    padding: 8px;
    transition: 0.2s;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
  }

  #closebtn_id {
    position: absolute;
    top: 0.8rem;
    right: 2.2rem;
    text-decoration: none;
    padding: 0;
  }

  .sidebar_button {
    width: 100%;
    display: block;
    padding: 9px 16px;
    text-align: center;
    border: none;
    white-space: normal;
    float: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
  }

.burger_button {
  display: block;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  z-index: 9;
  aspect-ratio: 1;
}

.burger_button img {
  width: 36px;
  height: 36px;
}

.nav_icon{
  width: 75px;

}

@media (min-width: 768px) {
  .nav_icon{
  width: 134px;
}

.logo_text p{
  font-size: 1rem;
}
  }

</style>

<script>
  import "/public/scripts/burgermenu.js";
</script>