---

---

<div>
  <h1>Get ticket - get ticket - get ticket - get ticket -</h1>
</div>

<style>
  div {
    display: flex;
    background-color: red;
    height: 200px;
    overflow: hidden;
  }

  h1 {
    flex-wrap: nowrap;
    font-size: 4rem;
    color: var(--tertiary-color);
  }

  div:hover {
    color: var(--tertiary-shade-color);
  }
</style>
