---

---

<a href="/tickets">
  <marquee>
    get tickets - get tickets - get tickets - get tickets - get tickets - get
    tickets - get tickets - get tickets - get tickets - get tickets - get
    tickets - get tickets - get tickets - get tickets - get tickets - get
    tickets - get tickets - get tickets - get tickets - get tickets - get
    tickets - get tickets - get tickets - get tickets -
  </marquee>
</a>

<style>
  marquee {
    height: 150px;
    width: 100%;
    padding: 75px 0;
    line-height: 10%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: 0.2s;

    text-transform: uppercase;
    font-size: 4rem;
    color: var(--tertiary-color);
  }

  marquee:hover {
    color: var(--tertiary-shade-color);
  }
</style>
