---

---

<a href="/tickets">
  <marquee>
    get ticket - get ticket - get ticket - get ticket - get ticket - get ticket
    - get ticket - get ticket
  </marquee>
</a>

<style>
  marquee {
    height: 150px;
    width: 100%;
    padding: 75px 0;
    line-height: 10%;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    text-transform: uppercase;
    font-size: 4rem;
    color: var(--tertiary-color);
  }

  marquee:hover {
    color: var(--tertiary-shade-color);
  }
</style>
