---
import "../styles/general.css";
import "../styles/style.css";
import "../styles/pc-style.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <title>{title}</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../icons/favicon32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../icons/favicon16.png"
    />

    <link
      href="https://db.onlinewebfonts.com/c/5d17ee572e2e5767eba7a20b2ca8bd40?family=Chevalier+LP+W00+Regular"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
